<%- include("includes/header")%>
<!--  - biror bir narsani include qilsak  -->
<body>
    <div>
       <div>PRODUCTS PAGE</div>
       <div><%=member.memberNick%></div> 
       <!-- = qiymati kerak bolsa  -->
    </div>
</body>

<%- include("includes/footer")%>
