.home-container {
  position: relative;
  width: auto;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(30deg, #ebeea5f0, #eec6a5, #b8f3edfc, #e8f7a5);
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  color: #292724;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #44443f;
  font-size: 40px;
  font-family: monospace;
}



.home-container.animation-frame  {
  background-color: #fff;
}

.home-container .animation-frame .bg  {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-container .animation-frame .bg  .path {
  animation: draw 3.5s infinite;
}
 
 @keyframes draw {
  50% {
    stroke-dashoffset: 1;
  }
}
